.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.stm-navbar

    header.mdl-layout__header
        .mdl-layout__header-row
            span.mdl-layout-title {{vm.title}}
            .mdl-layout-spacer
            nav.mdl-navigation.mdl-layout--large-screen-only
                a.mdl-navigation__link(
                ng-repeat='section in vm.sections'
                ng-click='vm.selectSectionInHeader(section)'
                ng-bind='section | translate'
                href
                )
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(
            id="lang-menu-button"
            ) {{vm.currentLang()}}
            ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(
            for="lang-menu-button"
            )
                li.mdl-menu__item(
                ng-repeat='lang in vm.langs'
                ng-disabled='lang == vm.currentLang()'
                ng-click='vm.setCurrentLang(lang)'
                ) {{lang | uppercase}}
    .mdl-layout__drawer
        span.mdl-layout-title {{vm.title}}
        nav.mdl-navigation
            a.mdl-navigation__link(
            ng-repeat='section in vm.sections'
            ng-click='vm.selectSectionInDrawer(section)'
            ng-bind='section | translate'
            href
            )

    div(ui-view)